<div class= "nav-wrapper">
    <a style = " padding-left: 20px; padding-right: 20px; margin: 5px; width: 100px" href="/logout" class="btn btn-default btn-sm">Logout</a><br>
    <a style = " padding-left: 20px; padding-right: 20px; margin: 5px; width: 100px"href="/" class="btn btn-default btn-sm">Home</a><br>
    <a style = " padding-left: 20px; padding-right: 20px; margin: 5px; width: 100px"href="/lobby" class="btn btn-default btn-sm">Lobby</a><br>

</div>
<p id= "eventid"><%= eventid.eventid %></p>

<div class="eventWrapper lobbyWrapper" style="color: white" >
    
  <div class="eventDetailWrapper">

    <h1 id="displayName" style="color: white"></h1>
    <h1>Artist</h1>
    <div class="artists"></div>
  </div><br>
  <div class="locationWrapper">
    <h1>Location</h1>
  </div>

  <br><div class="url"></div>

</div>



