
<div class="jumbotron text-center">
    <h1> THE LOBBY </h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/profile" class="btn btn-default btn-sm">Profile</a>
</div>
<div id="map2" style='width: 100%; height: 600px;'></div><br>