
<!-- PROFILE FORM -->

<div class="container" style="margin-bottom: 100px;">
    <div class="col-sm-6 col-sm-offset-3 container3">
        <form action="/profile/form/submit" enctype="multipart/form-data" method="POST">

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>About me</label>
                <textarea class="form-control" id="about" name="about" rows="5" ></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Profile picture</label>
                <input type="file" class="form-control-file" id="photo" name="photo">
            </div>
            <label for="exampleFormControlFile1">LOCATION</label>
            


            <div id='geocoder' class='geocoder'></div> <br>
            <div id="map2" style='width: 100%; height: 300px;'></div><br>
            <label>Address</label>
            <textarea type="text" class="form-control" id = "search" name="address" ></textarea><br>
            <label>Region</label>
            <textarea type="text" class="form-control" id= "region" name="region" ></textarea><br>
            <label>Country</label>
            <textarea type="text" class="form-control" id= "country" name="country" ></textarea><br>

            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>


     


    </div>
</div>

